
.TituloPrincipal {
    color: brown;
    margin: 0px 0 0 0;
    font-size: 300% !important;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 3px 3px black;
    font-family: 'Mynerve', cursive;
}

.muchos{
    color: brown;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 3px 3px black;
    font-family: 'Mynerve', cursive;
}



.muchos #p1{
    font-size: 185%;
    margin: 25px 0 0 0;
    display: inline-block;
}
.muchos #p2{
    font-size: 150%;
    margin: 20px 0 0 0;
}
.muchos #p3{
    font-size: 115%;
    margin: 15px 0 0 0;
}
.muchos #p4{
    font-size: 80%;
    margin: 15px 0 0 0;
}
.muchos #p5{
    font-size: 45%;
    margin: 15px 0 0 0;
}

.player{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    color: brown;
}

.boton{
    appearance: auto;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding: 0 0 0 0;
    border-width: 0px;
    border-image: initial;
}

.DivBoton{
    margin: 20px 0 20px;
    display: flex;
    justify-content: center;
}

.p1{
    text-align: center;
}

