
.TituloPrincipal {
    color: brown;
    margin: 0px 0 0 0;
    font-size: 320% !important;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 3px 3px black;
    font-family: 'Mynerve', cursive;
}

.muchos{
    color: brown;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 3px 3px black;
    font-family: 'Mynerve', cursive;
}



.muchos #p1{
    font-size: 185%;
    margin: 25px 0 0 0;
    display: inline-block;
}
.muchos #p2{
    font-size: 150%;
    margin: 20px 0 0 0;
}
.muchos #p3{
    font-size: 115%;
    margin: 15px 0 0 0;
}
.muchos #p4{
    font-size: 80%;
    margin: 15px 0 0 0;
}
.muchos #p5{
    font-size: 45%;
    margin: 15px 0 0 0;
}

